<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Team Maps</h2>
            <p>Team Maps is a free application that help team member can see other location in a maps with just a few click</p>
            <p>IOS and Android app will comming soon</p>
        </div>
    </div>
</section>